<mat-toolbar color="primary">
    <span>Store Front</span>
</mat-toolbar>
<div class="row" style="justify-content: center;">
    <div class="col-3">
        <mat-card>
            <mat-card-header>Simple form example</mat-card-header>
            <form [formGroup]="exampleForm" >
                <div class="row" >
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Store name</mat-label>
                            <mat-select (selectionChange)="fillAditionalFormFields($event.value)" formControlName="storeName">
                                <mat-option *ngFor="let data of stores" [value]="data.name">
                                  {{data.name}}
                                </mat-option>
                              </mat-select> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" >
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>phoneNumber</mat-label>
                            <input matInput formControlName="phoneNumber">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Today's date</mat-label>
                            <input matInput formControlName="todayDate">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Served By</mat-label>
                            <input matInput formControlName="servedBy">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="sportPackage">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Broadband</mat-label>
                            <input matInput formControlName="band">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>TV package</mat-label>
                            <input matInput formControlName="tvPackage">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Monthly charge</mat-label>
                            <input matInput formControlName="monthlyCharge">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Upfront Fee</mat-label>
                            <input matInput formControlName="upfrontFee">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Installments</mat-label>
                            <mat-select formControlName="installments">
                                <mat-option *ngFor="let data of installments" [value]="data">
                                  {{data}}
                                </mat-option>
                              </mat-select> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3">
                        <mat-form-field>
                            <mat-label>Other information</mat-label>
                            <input matInput formControlName="otherInformation">
                        </mat-form-field> 
                    </div>
                </div>
                <button class="button" type="button" (click)="onSubmit()">Submit</button>
                <button class="button" type="button" (click)="onReset()">Reset</button>
            </form>
            
        </mat-card>
    </div>
</div>